<app-header></app-header>
<main>
  <div class="imgs"></div>
  <div class="title">
    <h1>Faça seu evento</h1>
    <h2>No Nello’s</h2>
  </div>
  <div class="text">
    <h3>Salões íntimos e aconchegantes</h3>
    <p>
      Dispomos de espaço apropriado para eventos, casamentos, aniversários e
      confraternizações. Elaboramos cardápios personalizados. Solicite
      orçamento.
    </p>
  </div>
  <div class="infos">
    <div class="cards">
      <p>Aceitamos os cartões:</p>
      <img src="../../../assets/imgs/payment-cards.png" alt="cartoes" />
    </div>
    <div class="parking">
      <i class='bx bxs-car'></i>
      <p>Em construção</p>
    </div>
    <div class="size">
      <i class='bx bxs-group'></i>
      <p>Grandes salões para grupos de até 50 pessoas sentadas</p>
    </div>
  </div>
  <div class="celphone">
    <h4>- Informações e reservas -</h4>
    <p>Pinheiros: 11 3082 4365</p>
    <p>Pinheiros: Rua Antônio Bicudo, 101</p>
  </div>
  <footer>
    <h5>In dove si magna sei</h5>
    <h6>se magna sette</h6>
  </footer>
</main>
