<header>
  <div class="logo">
    <a href="#main-id">
      <img src="../../../assets/imgs/logo-nellos.png" alt="logo">
    </a>
  </div>
  <nav>
    <ul>
      <li><a href="#cardapio-title">Cardápio</a> </li>
      <li><a href="#delivery-id">Pedidos</a> </li>
      <li><a href="#hist-id">História</a> </li>
      <li><a href="#event-id">Eventos</a> </li>
      <li><a href="#">Premiações</a> </li>
      <li><a href="#">Vídeos</a> </li>
      <li><a href="#">Contato</a> </li>
    </ul>
  </nav>
</header>
