<app-header></app-header>
<section class="text_section">
  <h3>Um pé na cozinha</h3>
  <h2>E OUTRO NO CINEMA</h2>
  <p>
    Conduzido desde 1974 pela família dos italianos Nello e Rina de Rossi, o Restaurante Nello’s conquistou uma legião de fãs movidos pelo lema: “boa comida, preço justo e simpatia”.
  </p>
  <p>
    Local de encontro de intelectuais e artistas e eleita ponto turístico referencial em São Paulo, a casa pitoresca e exibe relíquias intrigantes da fase neo-realista do cinema italiano e lembranças das produções de Nello, ator, diretor e produtor de cinema e criador do bordão “Bonita camisa, Fernandinho”, que fez história na publicidade da televisão brasileira.
  </p>
</section>
<section class="card_section">
  <app-history-card></app-history-card>
</section>
