@font-face {
  font-family: park_lane_nfregular;
  src: url("../../../assets/FONTS/parklane.regular.otf") format("opentype");
}

@font-face {
  font-family: park_lane_nfregular_small;
  src: url("../../../assets//FONTS//parklane.regular-small.otf") format("opentype");
}

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;200;300;400;500;600&family=Libre+Baskerville:ital@0;1&family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:host {
  width: 100%;

  .cinema_section {
    // display: none;
    background-color: white;
    width: 100%;
    // min-height: 50vh;
    background-image: url(../../../assets/imgs/nellos-cinema-bg-1.gif);
    background-attachment: fixed;

    // background-position: 0rem 8rem;

    .bg_cinema {
      padding: 2rem 2rem 0 2rem;
      width: 100%;
      padding-top: 15.3vh !important;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.672);
      // background-color: #4b08094b;
    }

    h2 {
      font-family: 'park_lane_nfregular';
      font-size: 5rem;
      letter-spacing: 5px;
      font-weight: 100 !important;
      color: #580E0F;
    }

    h3 {
      letter-spacing: 3px;
      font-family: 'Montserrat', sans-serif;
      font-weight: 200;
      font-size: 3.5rem;
      color: #580E0F;
    }

    .cinema_text {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      // border: solid 2px red;



      p {
        padding-top: 1rem;
        width: 62%;
        font-family: 'Montserrat', sans-serif;
        font-weight: 200;
        font-size: 1.6rem;
        line-height: 2.4rem;
        letter-spacing: 2px;

        a {
          text-decoration: none;
          color: white;
          position: relative;
          top: 5rem;
          padding: 2rem 4rem;
          background-color: #580E0F;
          transition: .4s;
        }

        a:hover {
          background-color: #2f0809;
        }

      }

      .cinema_imgs {
        .cinema_img_1 {
          position: relative;
          left: 10rem;
        }

        .cinema_img_2 {
          position: relative;
          left: -5rem;
          top: -13rem;
          width: 50%;
        }
      }
    }

  }
}
