<app-header></app-header>
<main id="main-id">
  <section>
    <h1>Benvenuto</h1>
    <h2>Bem Vindo</h2>
    <div class="btns">
      <a href="#cardapio-title">Cardápio</a>
      <a href="#delivery-id">Pedidos</a>
    </div>
    <div class="news">
      <div class="carrossel">
        <img
          class="img-mobile"
          src="../../../assets/imgs/nellos-home-1.jpg"
          alt=""
        />
      </div>
      <h3>NOVIDADES</h3>
      <p>
        restaurante da vila leopoldina fechado estamos muito orgulhosos de usar
        embalagens biodegradáveis!
      </p>
      <p>
        Pedidos aqui em nosso site ou pela rappi. Agora tambem na appjusto uma
        iniciativa que merece sua participação: appjusto.com.br/r/nellos
      </p>
    </div>
    <div class="promotions">
      <h3>Promoções</h3>
      <p>Diversos filmes nos videos de nosso facebook (clique) aproveitem!</p>
      <p>
        Seu pedido na palma da mão! Baixe agora no seu celular! Para ios e
        android! Primeiro pedido com entrega grátis dentro de nossa área! Clique
        aqui para baixar (ios ou android)
      </p>
    </div>
  </section>
  <section class="section_home_second">
    <div class="carrossel">
      <img src="../../../assets/imgs/nellos-home-1.jpg" alt="" />
    </div>
    <div class="especialitys">
      <h3>ESPECIALIDADES</h3>
      <a href="#"><i class="bx bxl-whatsapp"></i> Gruno no whatsapp</a>
      <p>
        Entre no nosso grupo e saiba quando teremos especialidades (rabada,
        tripa, ossobuco, língua, cordeiro, bacalhau, gnocchi recheado, etc)
      </p>
    </div>
  </section>
</main>
<section class="cinema_section" id="hist-id">
  <div class="bg_cinema">
    <h3>Um pé na cozinha</h3>
    <h2>E OUTRO NO CINEMA</h2>
    <div class="cinema_text">
      <p>
        Conduzido desde 1974 pela família dos italianos Nello e Rina de Rossi, o
        Restaurante Nello’s é referência na gastronomia de São Paulo, tendo sua
        comida premiada repetidas vezes. Conhecido pelo seu preço justo e pela
        simpatia de seus donos, se tornou local de encontro de intelectuais e
        artistas. A casa pitoresca exibe relíquias italianas e lembranças das
        produções de Nello – ator, diretor e produtor de cinema e criador do
        bordão “Bonita camisa, Fernandinho!” – que fez história na publicidade
        da tv brasileira.
        <br />
        <a href="#">HISTÓRIA COMPLETA</a>
      </p>
      <div class="cinema_imgs">
        <img
          class="cinema_img_1"
          src="../../../assets/imgs/nellos-cinema-2.jpg"
          alt=""
        />
        <img
          class="cinema_img_2"
          src="../../../assets/imgs/nellos-cinema-1.jpg"
          alt=""
        />
      </div>
    </div>
  </div>
</section>
<section class="cardapio_title" id="cardapio-title">
  <h2>Chi setaccia fa sémola e farina</h2>
</section>
<section class="cardapio">
  <div class="cardapio_div">
    <div class="cardapio_text">
      <h2>Il nostro menù</h2>
      <h3>Nosso menu</h3>
      <p>
        A casa prepara suas próprias massas, tortas e até seu próprio sorvete.
        Adepta aos conceitos da organização italiana SlowFood, que tem como
        objetivo proteger as formas tradicionais de se fazer comida.
      </p>
      <div class="food_menu_btns">
        <a href="">MENU COMPLETO</a>
        <a href="">MENU EXECUTIVO</a>
        <a href="">GALERIA DE FOTOS</a>
      </div>
    </div>
    <div class="cardapio_vino">
      <h2>Carta dei Vini</h2>
      <h3>Carta de Vinhos</h3>
      <p>
        Aqui, tudo é preparado de maneira caseira, sempre procurando preservar o
        melhor paladar e o frescor dos alimentos. A noite, pizzas artesanais são
        abertas e assadas em fornos de pedra, garantindo, assim, o autêntico
        sabor italiano.
      </p>
      <div class="food_menu_btns">
        <a href="">CARTA DE VINHOS</a>
      </div>
    </div>
  </div>
</section>
<section class="events" id="event-id">
  <div>
    <h2>Faça seu evento</h2>
    <h3>No Nellos's</h3>
    <a href="">Saiba mais</a>
  </div>
</section>
<section class="delivery" id="delivery-id">
  <h2>Reservas e Delivery</h2>
  <h3>Pinheiros:</h3>
  <p><i class="bx bxl-whatsapp"></i> 11 98802-0428</p>
  <p><i class="bx bx-phone"></i> 11 3082 4365 | 11 3938 3845</p>
  <div class="delivery_div">
    <div class="delivery_left">
      <h4>Horários de atendimento:</h4>
      <ul>
        <li>
          <i class="bx bx-time i_time"></i> <b> TERÇA A SEXTA: </b
          ><i class="bx bx-sun"></i> 12h – 15h <i class="bx bx-moon"></i> 19h –
          23h
        </li>
        <li>
          <i class="bx bx-time i_time"></i> <b> SÁBADO:</b>
          <i class="bx bx-sun"></i> 12:00h – 16:00h
          <i class="bx bx-moon"></i> 19:00h – 23:00h
        </li>
        <li>
          <i class="bx bx-time i_time"></i> <b> DOMINGO:</b>
          <i class="bx bx-sun"></i> 12:00h – 16:00h
          <i class="bx bx-moon"></i> 19:00h – 22:30h
        </li>
      </ul>
      <h4 class="h4_app">Baixe o app Nello’S agora mesmo!</h4>
      <a href="#">Baixar</a>
    </div>
    <div class="delivery_right">
      <h4>Localização e área de entrega:</h4>
      <h5><i class="bx bx-been-here"></i> Rua Antônio Bicudo, 101</h5>
      <img src="../../../assets/imgs/nellos-area-entrega.jpg" alt="" />
    </div>
  </div>
</section>
