<app-header></app-header>
<main>
  <h1>Premiações</h1>
  <h2>
    O Restaurante Nello’s tem seu trabalho reconhecido frequentemente e por
    diversas fontes. Veja alguns dos prêmios que já recebemos
  </h2>
  <div class="awards">
    <img src="../../../assets/imgs/premio-1.png" alt="" />
    <img src="../../../assets/imgs/premio-2.png" alt="" />
    <img src="../../../assets/imgs/premio-3.png" alt="" />
    <img src="../../../assets/imgs/premio-4.png" alt="" />
    <img src="../../../assets/imgs/premio-5.png" alt="" />
    <img src="../../../assets/imgs/premio-6.png" alt="" />
  </div>
  <div class="imgs">
    <img src="../../../assets/imgs/premio-img-1.jpg" alt="" />
    <img src="../../../assets/imgs/premio-img-2.jpg" alt="" />
    <img src="../../../assets/imgs/premio-img-3.jpg" alt="" />
    <img src="../../../assets/imgs/premio-img-4.jpg" alt="" />
    <img src="../../../assets/imgs/premio-img-5.jpg" alt="" />
  </div>
  <h3>“... anni alti, anni bassi, anni felici anni tristi...</h3>
  <h4>l’importante e che siamo ancora insieme a ricordarli”</h4>
</main>
